[alias]
    f = fetch
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    branch-compare = !~/.local/bin/git-branch-compare
    nicelog = !~/.local/bin/git-nicelog
[color]
    ui = auto
[credential]
    helper = osxkeychain
[mergetool]
    keepBackup = true
	prompt = false
[push]
    default = simple
[include]
    path = .gitconfig.local
[includeIf "gitdir:~/src/**"]
    path = .gitconfig.work
[merge]
	tool = vimdiff
	conflictstyle = diff3
[commit]
	gpgsign = true
[github]
	user = rosston
[init]
	defaultBranch = main
[pull]
	rebase = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
